{% extends 'admin/admin.html.twig' %}

{% block title "Recette" ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    {# Preview Image #}
    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="">

    {{ form(form) }}

{#    <turbo-frame id="recipe_{{ recipe.id }}">#}
{#        {{ form(form, {#}
{#            'action' : path('admin.recipe.edit', {id: recipe.id})#}
{#        }) }}#}
{#    </turbo-frame>#}

   {# {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
        #}{# Affiche le rest du formulaire #}{#
        {{ form_rest(form) }}
    {{ form_end(form) }}#}

{% endblock %}
