{% extends 'base.html.twig' %}

{% block title "Recette" ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    {{ form(form) }}

   {# {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.duration) }}
        </div>
        #}{# Affiche le rest du formulaire #}{#
        {{ form_rest(form) }}
    {{ form_end(form) }}#}

{% endblock %}
